@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Inter", sans-serif;
	background-color: #efefef;
}

.container {
	width: 100%;
	height: 100%;
	transition: 0.3s transform;
}

.back-hamburger-toggle {
	position: absolute;
	z-index: 1;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: none;
}

.hamburger-menu {
	--width: 20px;
	--height: calc(var(--width) / 100 * 100);
	width: calc(var(--width) + 5px);
	height: var(--height);
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 1;

	span,
	span::after,
	span::before {
		content: "";
		display: block;
		height: calc(var(--width) / 100 * 10);
		width: 100%;
		background-color: #222;
		position: relative;
	}

	span {
		transform: translateY(calc(var(--width) / 100 * 40));
		transition: 1s all;
		&::before {
			position: absolute;
			bottom: calc(var(--width) / 100 * 40);
			transition: 0.2s all;
		}
		&::after {
			position: absolute;
			top: calc(var(--width) / 100 * 40);
			transition: 0.2s all;
		}
	}
}

#hamburger-toggle {
	display: none;

	&:checked ~ .container {
		transform: translateX(300px);
		transition: 0.3s transform;

		.back-hamburger-toggle {
			display: block;
		}

		.hamburger-menu {
			position: relative;
			z-index: 999;

			span {
				position: relative;
				background: transparent;
				transition: 0.01s all;

				&::before {
					transform: rotate(-45deg);
					bottom: 0;
					transition: 0.3s all;
					background-color: #fff;
				}

				&::after {
					transform: rotate(45deg);
					top: 0;
					transition: 0.3s all;
					background-color: #fff;
				}
			}
		}
	}

	&:checked ~ .menu {
		transform: translateX(0);
		transition: 0.3s transform;
	}
}

.header {
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	display: flex;
	align-items: center;
	padding-left: 20px;
	.logo {
		margin-left: 20px;
	}
}

.menu {
	position: fixed;
	transform: translateX(-300px);
	transition: 0.3s transform;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	background-color: #fff;
	width: 300px;
	border-right: 1px solid #ccc;
	ul > li > a {
		color: #000;
		padding: 20px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 60px;
		border-bottom: 1px solid #ccc;
		transition: 0.3s background-color;
		&:hover {
			background-color: #efefef;
		}
	}
}
